body, html {
  height: 100%;
  margin: 0;
}
.btn {
   border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn2 {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left:500px;
  top: 480px;
}
.btn3 {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left:500px;
  top: 480px;
}
.success {
  border-color: #4CAF50;
  color: green;
}
.success:hover {
  background-color: #4CAF50;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#user 
{
	position: absolute;
  left:500px;
  top: 480px;
}
#admin 
{
  position: absolute;
  left:700px;
  top: 480px;
}
#a
{
  position: absolute;
  right:135px;
  top: 5px;
  padding: 5px 28px;
}
#v
{
  position: absolute;
  left:420px;
  top: 530px;
}
#g
{
  position: absolute;
  left:660px;
  top: 530px;
}
#out
{
  position: absolute;
    padding: 5px 28px;
  right:5px;
  top: 5px;
}
#submit
{
  position: absolute;;
  left:5px;
  top: 5px;
}