<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Naimy Bouchaib</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet"
		href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
	    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	    <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
		<link rel="stylesheet"
		th:href="@{/css/shards.min.css}"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
<style>
a {
  color: hotpink;
}
</style>
</head>
<body>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="mySlides w3-display-container w3-center">
    <img th:src="@{/css/img.png}"/>
    </div>
    </div>
        <div class="container my-5">
            <h2 class="mb-5">Nouveau Etudiant</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Nom Complet</label>
                                <input type="text" class="form-control" id="name" placeholder="Entrer Le Nom Complet" name="name"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="filiere" class="col-form-label">Filiere</label>
                                <input type="text" class="form-control" id="filiere" placeholder="Entrer La Filiere" name="filiere"/>
                            </div>
                             <div class="form-group col-md-6">
                                <label for="nbr" class="col-form-label">Nbr</label>
                                <input type="text" class="form-control" id="nbr" placeholder="Entrer le Nbr" name="nbr"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <button type="submit" class="btn btn-primary btn-block" id = "submit">Enregistrer</button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <a th:href="@{/}" class="btn btn-primary" id = "a">ACCEUIL</a>
        <br/>
        <a th:href="@{/skip}" class="btn btn-primary" id = "g">GERER-MES-ETUDIANTS</a>
        <br/>
        <a th:href="@{/skip2}" class="btn btn-primary" id = "v">VOIR-LISTE-ABSENCE</a>
        <br/>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-primary" id = "out" />
	</form>
	<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by naimy bouchaib</p>
</footer>
    </body>
</html>