<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Naimy Bouchaib</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet"
		href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
	    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	    <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
		<link rel="stylesheet"
		th:href="@{/css/shards.min.css}"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
</head>
    <body>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="mySlides w3-display-container w3-center">
    <img th:src="@{/css/img.png}"/>
    </div>
    </div>
        <div th:switch="${users}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No users yet!</h2>
        <form th:action="@{/addabsence}"  method="get">
                    <div th:case="*">
                        <h2 class="my-5">Users</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                	<th>period</th>
                                    <th>      </th>
                                    <th>Name</th>
                                    <th>filiere</th>
                                    <th>Nbr-heures</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                <td><select name="period">
                                		<option th:value="' '" th:text='Select'></option>
    									<option th:value="'(8_10)'" th:text="(8_10)"></option>
    									<option th:value="'(10_12)'" th:text="(10_12)"></option>
    									<option th:value="'(2_4)'" th:text="(2_4)"></option>
    									<option th:value="'(4_6)'" th:text="(4_6)"></option>
									</select></td>
                                <td><input type="checkbox" name="check" th:attr="value=${user.id}"/></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.filiere}"></td>
                                    <td th:text="${user.nbr}"></td>
                                    <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a th:href="@{/skip2}" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <a th:href="@{/}" class="btn btn-primary" id = "a">Acceuil</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-primary" id = "out" />
	</form>
	<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by naimy bouchaib</p>
</footer>
    </body>
</html>