<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Naimy Bouchaib</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet"
		href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
	    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	    <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
		<link rel="stylesheet"
		th:href="@{/css/shards.min.css}"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
	 href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" th:src="@{/js/datatable.js}"></script>
</head>
<body>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="mySlides w3-display-container w3-center">
    <img th:src="@{/css/img.png}"/>
    </div>
    </div>
	<h1>YOURE INFORMATIONS .. GOOD DAY :)</h1>
	<table id="naimy" class="display">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>ID</th>
				<th>NAME</th>
                <th>FILIERE</th>
                <th>NBR-HEURES</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
                 <th>ID</th>
				<th>NAME</th>
                <th>FILIERE</th>
                <th>NBR-HEURES</th>
            </tr>
        </tfoot>
    </table>
    <a  th:href="@{/}" id = "a" class="btn btn-primary">ACCEUIL</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-primary" id = "out" />
	</form>
	<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by naimy bouchaib</p>
</footer>
</body>
</html>