<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Welcome Security with Spring Boot!</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
				<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
		<link rel="stylesheet"
		href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
	    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	    <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
		<link rel="stylesheet"
		th:href="@{/css/shards.min.css}"/>
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		th:href="@{/css/style.css}"/>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="mySlides w3-display-container w3-center">
    <img th:src="@{/css/img.png}"/>
    </div>
    </div>
	<div class="row col-sm-6" 
				style="border: 1px ridge #003312; padding:20px; float: none; margin: 0 auto;">
		<div th:if="${param.error}">
			<p style="color: red">UserName or PassWord is wrong. Please
				check again!</p>
	
		</div>
		<div th:if="${param.logout}">
			<h1 style="color: blue">Log out</h1>
		</div>
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">User Name: </label>
				<input type="text" class="form-control" id="username" placeholder="Enter UserName" name="username"/>
			</div>
			<div class="form-group">
				<label for="password">Password: </label>
				<input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"/>
			</div>
			<button type="submit" class="btn btn-primary btn-block">AUTH</button>
		</form>
	</div>
	 <a  th:href="@{/}" id = "a" class="btn btn-primary">ACCEUIL</a>
	 	<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by naimy bouchaib</p>
</footer>
</body>
</html>