<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Welcome Security with Spring Boot!</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	    <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
		<link rel="stylesheet"
		th:href="@{/css/shards.min.css}"/>
</head>
<body>
        <div class="container my-5">
            <h2 class="mb-5">Update User</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="Name" placeholder="Enter youre name" name="name"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="filiere" class="col-form-label">filiere</label>
                                <input type="text" class="form-control" id="filiere" placeholder="Enter youre filiere" name="filiere"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nbr" class="col-form-label">Nbr-Heures</label>
                                <input type="text" class="form-control" id="nbr" placeholder="Enter youre nbr-heures" name="nbr"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
        <a style="color: blue" th:href="@{/}">Home</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
    </body>
    </html>